.form-group {

    .input-group {
        align-items:center;
        border: 1px gray solid;
        padding-left: 5px;
        padding-right: 5px;
       
        input {
            border:none;              
        }
        
        input:focus {   
            border-color: transparent;
            box-shadow: none;
            outline: 0 none;
        }
    
        .placeholder-icon {
            height: 20px;
        }
    }
    
    #autocompleteOptions.button:hover {     
        cursor: pointer;
    }
}


